.container {
    position:relative;
    width : 100%;
    height : 90%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}

.aboutWrapper {
    display:table;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #eceff3;
    box-shadow: 0 4px 12px 0px rgba(0,0,0,0.25);
}

.about {
    display:table-cell;
    vertical-align: middle;
    padding:15px;
}