a {
    text-decoration: none;
}

div.navigation {
    display:flex;
    background-color: #eceff3;
    box-shadow: 0 4px 12px 0px rgba(0,0,0,0.25);
    align-content: center;
}

.logo_area {
    display: flex;
    margin: 10px 25px;
    justify-content: space-around;
    align-content: center;
}

.logo_area .logoText {
    margin: 10px;
    font-size: x-large;
    font-weight: bold;
    color: rgb(128, 128, 128);
}

.menu_area {
    display: flex;
    margin: 10px 0;
    justify-content: space-around;
    align-content: center;
}

.menu_area a{
    margin: 15px 25px 10px 0px;
    font-size: large;
    color: rgb(58, 58, 58);
}